<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.araujo.jordan.excuseme">

    <application>
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />
        <activity
            android:name=".view.InvisibleActivity"
            android:theme="@style/ExcuseMe.Theme.Transparent" />
    </application>
</manifest>
